/*============-============-============-============
                         VARIABLES
==============-============-============-==========*/

:root {
  --calm: #5F6BA0;
  --calm-darker: #354487;
  --calm-border-light: rgba(95, 107, 160, 0.25);
  --off-white: #fafafa;
}

/*============-============-============-============
                         GLOBAL
==============-============-============-==========*/

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

i {
  font-size: 1.4rem;
  color: var(--calm);
  cursor: pointer;
}

i + i {
  margin-left: 1rem;
}

/* --- Buttons --- */

.btn-primary {
  background-color: var(--calm);
  border-color: var(--calm);
  color: var(--off-white);
}

.btn-primary:hover {
  background-color: var(--calm-darker);
  border-color: var(--calm-darker);
}

.btn-outline-primary {
  color: var(--off-white);
  border-color: var(--off-white);
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active {
  color: var(--calm);
  background-color: var(--off-white);
  border-color: var(--off-white);
}

.btn-outline-secondary {
  color: var(--calm);
  border-color: var(--calm);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled).active {
  background-color: var(--calm);
  border-color: var(--calm);
}

/*============-============-============-============
                        NAVBAR
==============-============-============-==========*/

/* --- Nav Top --- */

.nav-top {
  background-color: var(--calm);
  color: #fff;
}

.navbar {
  background-color: var(--calm);
  padding: .75rem 0;
  position: relative;
}

.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .1rem;
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); 
  color: var(--off-white);
}

.navbar-collapse {
  justify-content: space-between;
}  

.login i,
.login > a {
  color: var(--off-white);
}

.fa-user {
  color: var(--off-white);
  font-size: 1.8rem;
  cursor: default;
}

.user-photo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

/* --- Search Form --- */

.form-inline .form-control {
  display: block;
  width: 100%;
}

/* --- Nav Bottom --- */

.nav-bottom .nav {
  padding: 1rem 0;
  flex-direction: column;
}

.nav-bottom button {
  display: block;
  width: 100%;
  margin-bottom: .5rem;
}

.lead {
  text-align: center;
  margin-bottom: 1rem;
}

.favorites .badge-secondary {
  color: var(--calm);
  background-color: var(--off-white);
  border: 1px solid var(--calm);
  margin-left: .25rem;
}

/*============-============-============-============
                         MAIN
==============-============-============-==========*/

.gallery {
  padding: 1rem;
}

.card {
  border-color: var(--calm-border-light);
  color: var(--calm);
}

.card-header {
  font-size: 1.2rem;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-columns {
  column-count: 1;
}

.fa-twitter {
  font-size: 1.4rem;
  color: var(--calm);
}

.fa-heart-o,
.fa-twitter {
  transform-origin: center center;
  transition: .25s ease-out;
}

.fa-heart-o:hover,
.fa-twitter:hover  {
  color: var(--calm-darker);
  transform: scale(1.02);
}

.profile-page,
.favorites-page {
  text-align: center;
  padding: 3rem 1rem;
  color: var(--calm-darker); 
}

.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.tweet-container {
  width: 600px;
  border: 1px solid #DCE3E8;
  border-radius: 4px;
  background-color: #E3F0FA;
  box-shadow: 0 18px 40px 5px rgba(0,0,0,.4);
}

.tweet-photo {
  border-radius: 100%;
  margin-right: 1.4rem;
}

.tweet-header {
  background-color: var(--off-white);
  position: relative;
  padding: .75rem 0;
}

.tweet-header h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--calm);
  text-align: center;
  padding: 0;
  margin: 0;
}

.tweet-header span {
  position: absolute;
  top: 9px;
  right: 12px;
  font-size: 1.3rem;
  color: var(--calm);
}

.tweet-body {
  padding: 1rem;
}

.tweet-form .form-group {
  width: 430px;
  background-color: #EDF1F5;
  border: 2px solid #C5E2FA;
  border-radius: 4px;
}

.tweet-form .form-control:focus {
  box-shadow: none;
}

.tweet-form .textArea1 {
  font-size: .9rem;
  background-color: var(--off-white);
  border: none;
  box-shadow: none;
  resize: none;
}

.textarea-main {
  flex-basis: 90%;
  color: #495057;
}

.textarea-side {
  flex-basis: 10%;
  color: #495057;
  background-color: var(--off-white);
  padding: .375rem .75rem
}

.tweet-form .tweet-gif {
  padding: .5rem;
}

.tweet-gif img {
  border-radius: 6px;
}

.tweet-btn {
  border-radius: 20px;
  padding: .25rem 1.2rem;
  background-color: #6EB8F5;
  border: none;
  font-weight: bold;
}

.tweet-btn:hover {
  background-color: var(--calm);
}

.emoji-container {
  position: relative;
}

.emoji-mart {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 14px;
}

.emoji-mart-title-label {
  font-size: 18px;
}

/*============-============-============-============
                        FOOTER
==============-============-============-==========*/

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*============-============-============-============
                     MEDIA QUERIES
==============-============-============-==========*/

@media (max-width: 767px) {
  .navbar {
    height: 110px;
    align-items: flex-start;
  }
  .form-inline .form-control {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
  }
}

@media (min-width: 601px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: inline-block;
  }
  .nav-bottom .nav {
    padding: .65rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-bottom button {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
  .nav-bottom .nav-item + .nav-item {
    margin-left: .5rem;
  }
  .lead {
    display: block;
    width: 100%;
  }
  .favorites .badge-secondary {
    margin-left: .5rem;
  }
  /* --- Main --- */
  .card-columns {
    column-count: 3;
  }
}


@media (min-width: 992px) {

  .form-inline .form-control {
    width: 300px;
  }
  .nav-bottom .nav {
    padding: .85rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: none;
  }
  .lead {
    display: inline-block;
    width: auto;
    margin: 0;
    margin-right: auto;
  }
  /* --- Main --- */
  .gallery {
    padding: 1.8rem;
  }
  .card-columns {
    column-count: 4;
  }
}